.address {
	display: block;
	font-style: normal;
	list-style: none;
	margin-top: 20px;
	line-height: 1.7;

	@media screen and (max-width: 1199px) {
		margin-bottom: 60px;
	}

	&__item:not(:last-child) {
		margin-bottom: 9px;
	}

	&__link {
		text-decoration: none;
  	color: $contacts;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
		&--white {
			color: $secondary-text;
		}

		&:hover,
		&:focus {
 		 	color: $hover;
		}
	
	}
}