.logo {
  font-weight: 700;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  color: $main-text;
  text-decoration: none;
	display: inline;

	&--blue {
		color: $hover;
	}

}

.site-footer__logo {
	color: $secondary-text;
	margin-left: auto;
}