.site-features {
	padding: 60px 0;

	@media screen and (min-width: 1200px) {
		padding: 94px 0;
	}

	&__container {
		padding: 0 15px;

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			padding: 0;
		}
	}
}

.features {
  display: flex;
	list-style: none;

	@media screen and (max-width: 767px) {
		display: block;
		&__item:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		flex-wrap: wrap;
		
		&__item {
			width: calc((100% - 2 * 30px) / 2);
			margin: 15px;
		}
	}

	@media screen and (min-width: 1200px) {
		&__item:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.feature {
	display: block;
}

.feature__container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	border-radius: 4px;
	background-color: $primary-bg;
}

.feature__label {
	text-align: center;
	margin-top: 30px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;

	@media screen and (max-width: 767px) {
		text-align: center;
	}
}

.feature__text {
	margin-top: 10px;
	line-height: 1.7;
	color: $contacts;
}