.team {
  display: flex;
	list-style: none;
	
	@media screen and (max-width: 767px) {
		display: block;
		
		&__item:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		flex-wrap: wrap;

		&__item {
			width: calc((100% - 2 * 30px) / 2);
			margin: 15px;
		}
	}

	@media screen and (min-width: 1200px) {
		
		&__item:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.site-team {
  background-color: $primary-bg;
	padding: 60px 0;

	@media screen and (min-width: 1200px) {
		padding: 94px 0;
	}
	&__container {
		padding: 0 15px;

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			padding: 0;
		}
	}
}

.team-card {
  text-align: center;
  background-color: $main-bg;
  box-shadow: 0px 1px 3px $primary-shadow,
    0px 1px 1px $primary-shadow,
    0px 2px 1px $primary-shadow;
  border-radius: 0px 0px 4px 4px;
	padding-bottom: 30px;


	&__content {
		padding-top: 30px;
	}

	%text {
		font-size: 16px;
		line-height: 1.2;
	}
	
	&__label {
		@extend %text;
		margin-bottom: 10px;
		font-weight: 500;
	}

	&__text {
		@extend %text;
		color: $contacts;
		margin-bottom: 16px;
	}

}


