$main-text: #212121;
$secondary-text: #ffffff;
$main-bg: #ffffff;
$secondary-bg: #2f303a;
$primary-bg: #f5f4fa;
$social-bg-color: rgba(255, 255, 255, 0.1);
$hover: #2196f3;
$primary-hover: #188CE8;
$contacts: #757575;
$border: #ececec;
$clients-border-color: #AFB1B8;
$primary-border: #eeeeee;
$shadow: rgba(0, 0, 0, 0.1);
$primary-shadow: rgba(0, 0, 0, 0.15);
$backbrop-bg-color: rgba(0, 0, 0, 0.2);
$hero-overlay-color: rgba(47, 48, 58, 0.4);
$work-overlay-color: rgba(47, 48, 58, 0.8);
$portfolio-overlay: rgba(33, 150, 243, 0.9);